<footer >
  <div class="footer-background">
    <div class="container">
      <div class="row align-items-start">
        <div class="col-md-4">
          <a class="navbar-brand" routerLink="/">
            <img src="./assets/images/Logo.png" alt="Logo" class="logo" />
          </a>
        </div>
        <div class="col-md-3">
          <h3 class="footer-title">
            <i class="bi bi-geo-alt-fill"></i> Adresse
          </h3>
          <address>
            101 cours Charlemagne, CS 20033, 69269 LYON CEDEX 02, France<br />
            +33 (0)4 26 73 40 00
          </address>
        </div>
        <div class="col-md-3">
          <h3 class="footer-title">
            <i class="bi bi-link-45deg"></i> Liens
          </h3>
          <ul class="list-unstyled">
            <li><a href="#">Mentions légales</a></li>
            <li><a href="#">Données personnelles</a></li>
            <li><a href="#">Accessibilité</a></li>
            <li><a href="#">Cookies</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="social-media">
      <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
        <img src="./assets/images/facebook.jpg" alt="Facebook">
      </a>
      <a href="https://www.twitter.com" target="_blank" aria-label="Twitter">
        <img src="./assets/images/twitter.jpg" alt="Twitter">
      </a>
      <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
        <img src="./assets/images/instagram.jpg" alt="Instagram">
      </a>
    </div>
  </div>
  
</footer>